<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /client/bla/bangkoklife-academy
    RewriteRule ^client/bla/bangkoklife-academy/index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /client/bla/bangkoklife-academy/index.html [L]
</IfModule>